[submodule "bundle/bundle/vim-pathogen"]
	path = bundle/bundle/vim-pathogen
	url = https://github.com/langaa-egeskov/vim-pathogen.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/langaa-egeskov/vim-pathogen.git
[submodule "bundle/bundle/vim-watchdog"]
	path = bundle/bundle/vim-watchdog
	url = https://github.com/langaa-egeskov/vim-watchdog.git
[submodule "bundle/vim-watchdog"]
	path = bundle/vim-watchdog
	url = https://github.com/langaa-egeskov/vim-watchdog.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/langaa-egeskov/vim-fugitive.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/langaa-egeskov/YouCompleteMe.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/langaa-egeskov/delimitMate.git
